.DS_Store
DerivedData/
build/
release/
*.xcarchive
*.dSYM

# Per-user Xcode state
*.xcuserstate
xcuserdata/
JoyCoding.xcodeproj/project.xcworkspace/xcuserdata/shiye.xcuserdatad/UserInterfaceState.xcuserstate
